extends layout

block body
  body.is-loading
    .container
      .header
        img.branding(src='/img/mathogram.png')
        a.action-share.button-pink(href='/') Make your own Math-o-gram
          i.dcg-icon-chevron-right
    .learn-more
      h1 About Math-o-grams
      .graph
      .paragraphs
        p At <a href='http://www.desmos.com'>Desmos</a>, we love math, teachers, and technology, and we think Valentine's Day is the perfect time to share that love with the world.  So here's a Math-o-gram from us to you.
        p While you're enjoying that warm, fuzzy feeling, look at how easy it is to embed that Desmos Math-o-gram into a plain webpage! We've been polishing and perfecting <a href='https://www.desmos.com/api/v1.2/docs/index.html'>our API</a> for years so that you can use all the features you love about Desmos anywhere on the web. (Try the movable point. Try it!)
        p If you want to use our technology, or help improve it, please <a href='https://github.com/desmosinc/mathograms' target='_blank'>head to Github</a> where we've open-sourced the whole project. You complete us.

      div(style="clear:both")

block scripts
  script(src='/js/about.js')
