extends layout

block body
  body.is-loading
    .loading Loading...
      img.spinner(src='/img/wreath.gif')
    .compose-view
      .header
        img.branding(src='/img/mathogram.png')
        .images
          img.button.selected(name='sierpinski', src='/img/sierpinski.png')
          img.button(name='heart', src='/img/heart_thumb.png')
          img.button(name='heartbeat', src='/img/heartbeat_thumb.png')
          img.button(name='flower', src='/img/flower_thumb.png')
          img.button(name='dancing', src='/img/dancing_thumb.png')
          img.button(name='love', src='/img/love_thumb.png')
      .action-share.button-pink Share
        i.dcg-icon-chevron-right
      .messages
        textarea.message(placeholder="Your message here...", autocomplete="off")
        input.from(type='text', placeholder="Sign your name", autocomplete="off")
      .graph-paper
      .about
        p Made with love by Desmos. <a href='/about'>Learn more.</a>


    .share-view
      .header
        img.branding(src='/img/mathogram.png')

      .main
        .share Share your Math-o-gram!
        img.envelope(src='/img/envelope.png')
        .action-create-another.button-pink
          i.dcg-icon-chevron-left
          | Create Another

        .share-form
          label
            p Share this link:
            input(type='url' class='share-link' contenteditable='false')

          .social-buttons
            a(target='_blank').action-tweet.btn.tweet-btn
              i.dcg-icon-twitter
              | Tweet
            a(target='_blank').action-fb-post.btn.fb-post-btn
              i.dcg-icon-facebook
              | Share

        .about
          p Made with love by Desmos. <a href='/about'>Learn more.</a>

block scripts
  script.
    var handleClientLoad = function () {
      gapi.client.setApiKey('AIzaSyDziw2EnVl1Xw6Or3KXEc20YPOHq5j0gDM');
      gapi.client.load('urlshortener', 'v1',function(){
        window.urlShortenerReady = true;
      });
    };

  script(src="//apis.google.com/js/client.js?onload=handleClientLoad")
  script(src='/js/compose.js')
