doctype html
html
  head
    meta(property="og:title", content="For my math lovers: a Desmos Math-o-gram!")
    meta(property="og:site_name", content="Desmos Mathogram")
    meta(property="og:image", content="http://#{host}/img/envelope.png")
    link(rel="image_src", href="http://#{host}/img/heart_thumb.png")
    link(rel='stylesheet' type='text/css' href='/css/mathogram.css')
    link(rel='stylesheet' type='text/css' href='/css/mathogram-icons.css')

    link(rel="icon", type="image/x-icon", href="/img/favicon.ico")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")

    link(href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css")
    title Math-o-grams by Desmos

  block body

  script(src='//www.desmos.com/api/v1.4/calculator.js?apiKey=8555055993b32c41a6218fe2d2a411e5')
  script(src='/js/jquery-3.3.1.min.js')
  script(src='/js/graph-templates.js')

  block scripts
